/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #d21010;
    line-height: 1.6;
}

header {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}



section {
    padding: 20px;
    text-align: center;
}

.hotel-card {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid #921717;
   
}

.hotel-card img {
    max-width: 100%;
}



.contact-section form {
    display: block;
    margin: 20px auto;
    max-width: 600px;
}

footer {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}

